@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #43766c;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background) !important;
}

/* simple mde editor */

.EasyMDEContainer .CodeMirror {
  height: 180px !important;
}

.review-form .CodeMirror {
  /* this is aim for the form in reviews section for single books */
  height: 120px !important;
}

.editor-statusbar {
  padding: 0px !important;
}

.EasyMDEContainer .CodeMirror-scroll {
  min-height: 170px !important;
}

.review-form .CodeMirror-scroll {
  min-height: 100px !important;
}

.editor-toolbar button.active,
.editor-toolbar button:hover {
  color: #76453b !important;
}

select:not([size]) {
  background-image: url("../public/down-arrow.svg");
  background-size: auto;
  background-position: right 1.5rem center;
}

/* read e-book section */

.pdf-single-page {
  background-color: transparent !important;
}

/* new book slider section */

.slider-wrapper {
  width: 100%;
  position: relative;
  border-image: linear-gradient(#76453b, #ad8b69, #f8fae5) 30;
  border-width: 1.5px;
  border-left-width: 40px;
  border-style: solid;
  display: inline-block;
}

.slider-wrapper h3 {
  font-size: 16px;
  color: white;
  letter-spacing: 2px;

  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: -32px;
  transform-origin: 0 0;
  transform: rotate(270deg);
}

.floating-books-slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.floating-books {
  position: relative;
  animation: bannermove 10s linear infinite alternate;
}

@keyframes bannermove {
  from {
    left: 0px;
  }
  to {
    left: -200px;
  }
}

[type="text"]:focus {
  --tw-ring-color: transparent;
}

/* multi select customize */

.css-1xc3v61-indicatorContainer {
  color: #76453b !important;
}

/* topBar Search Section */

.dropdown {
  position: relative;
}

.dropdown .options {
  display: none;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.dropdown .options.open {
  display: block;
}
