@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #43766c;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background) !important;
}

.EasyMDEContainer .CodeMirror {
  height: 100px !important;
}

select:not([size]) {
  background-image: url("../public/down-arrow.svg");
  background-size: auto;
  background-position: right 1.5rem center;
}
